<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LibraryDB" connectionString="Data Source=HP;Initial Catalog=LibraryDB;Integrated Security=True"
      providerName=".NET Framework Data Provider for SQL Server" />
    <add name="CSharpFinalProject.Properties.Settings.LibraryDBConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\LibraryDB.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>